<nav
    class="fixed top-0 w-full flex items-center justify-around h-[50px] border-b-1 rounded-b rounded-r-md rounded-l-md">
    <a routerLink="/">
        <h1>Developer Tasks</h1>
    </a>
    <a routerLink="/todo-list">
        <p class="nav-link">Todo list</p>
    </a>
    <a routerLink="/weekly-schedule">
        <p class="nav-link">Weekly schedule</p>
    </a>
    <a routerLink="/calculator">
        <p class="nav-link">
            Calculator
        </p>


    </a>
    <a routerLink="/calender">
        <p class="nav-link">
            Calender
        </p>
    </a>
    <a routerLink="/news">
        <p class="nav-link">
            News
        </p>
    </a>
</nav>